# Jupyter Notebook
.ipynb_checkpoints/
notebooks/

# Python
__pycache__/
*.py[cod]

# Виртуальное окружение
env/
venv/
.venv/

# Данные (скрываем датасеты)
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.hdf5
*.json
*.npy
*.npz
*.joblib
*.sav
*.png
*.pkl

# Модели
*.model
*.bin
catboost_info/
model_cache/
ml_models/

# Секреты и конфиги
*.env
.env.*
secrets.json
config.yaml

# Редакторы / IDE
.vscode/
.idea/
.DS_Store

data/
*.log
OLD/