# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Виртуальное окружение
env/
venv/
.venv/

# Данные (скрываем датасеты)
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.hdf5
*.json
*.npy
*.npz
*.pkl
*.joblib
*.sav
*.png

# Модели
*.model
*.bin
catboost_info/
model_cache/
ml_models/all-MiniLM-L6-v2
ml_models/resnet50
ml_models/sentence-transformers_paraphrase-multilingual-MiniLM-L12-v2

# Секреты и конфиги
*.env
.env.*
secrets.json
config.yaml

# Редакторы / IDE
.vscode/
.idea/
.DS_Store

data/
*.log
OLD/